:root {
  --primary-color: #8585ff;
  --secondary-color: #ffb538;
  --comp-color: #ffc285;
  --background-color: #f4f4f4;
}

/* */
@media (max-width: 600px) {
  .navbar-feed-screen.new-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.5vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: rgb(30 61 99 / 50%) 0px 2px 10px 0px;
  }

  .navbar-feed-screen.new-navbar img {
    width: 30px;
  }

  .feed-post-footer .post-fromto,
  .feed-post-footer .post-chatroom-btn,
  .feed-post-footer i.far.fa-comment,
  .feed-post-footer i.far.fa-comment {
    color: var(--primary-color);
  }

  .main-header.feed-screen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: rgb(30 61 99 / 50%) 0px 2px 10px 0px;
  }

  .feed-post-header .post-fromto {
    color: var(--primary-color);
  }

  .feed-post-header .post-fromto-info {
    margin: 0 auto;
  }

  /* Cards */

  .card {
    margin: 15% auto;
    box-shadow: rgb(30 61 99 / 50%) 0px 2px 10px 0px;
  }

  .card:first-child {
    margin-top: 25%;
  }

  .feeds-loading {
    display: flex;
    justify-content: center;
    margin-top: 50vh;
  }

  .more-feeds-loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feed-post-body.card-body,
  .feed-post-footer.card-footer {
    padding: 0;
  }

  .edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
  }

  .edit-button:focus,
  .edit-button:active {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
  }

  /* Card-Header on mobile */
  .feed-post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  /* Card-Body main-image on mobile */
  .feed-post-body .feed-post-main-image {
    width: 100%;
  }

  /* Card body message and doodle on mobile */
  .message-doodle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .post-message.text-center {
    padding-left: 5%;
  }

  .post-message.text-center i.fas.fa-quote-left,
  .post-message.text-center i.fas.fa-quote-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post-message.text-center i.fas.fa-quote-right {
    margin-top: 2%;
  }

  .message-doodle .post-message {
    width: 60%;
  }

  .message-doodle .post-sub-image {
    width: 40%;
  }

  .message-doodle .post-sub-image .feed-post-sub-image {
    width: 60%;
  }

  div.post-sub-image.no-main-image img {
    width: 100%;
  }

  .post-message i,
  .post-message p {
    display: block;
    margin: 0;
    font-size: 0.8rem;
  }

  /* Card-Footer on mobile */
  .feed-post-footer {
    display: flex;
    flex-direction: column;
  }

  .feed-post-footer .post-chatroom-btn {
    text-align: left;
    padding: 3%;
    position: relative;
  }

  .post-chatroom-button {
    color: var(--primary-color);
  }

  .post-chatroom-btn i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    bottom: 15%;
  }

  .feed-post-footer .fas.fa-quote-left,
  .feed-post-footer .fas.fa-quote-right {
    font-size: 0.5rem;
  }

  .feed-post-footer .post-fromto {
    font-weight: bold;
  }

  .feed-post-footer small {
    display: block;
    color: #a6a9b6;
    text-align: left;
  }

  .feed-post-footer {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .feed-post-footer .post-timestamp {
    width: 50%;
    margin-left: 8%;
  }

  /* Load more button on mobile */
  .load-more-btn.load-more-feeds {
    background-color: var(--primary-color);
    display: block;
    width: 124px;
    border: 0;
    color: #fff;
    margin: 4% auto;
    border-radius: 23px;
    padding: 1%;
  }

  .load-more-btn.load-more-feeds:active,
  .load-more-btn.load-more-feeds:focus {
    outline: 0;
    border: 0;
  }

  /* Split line on mobile */
  .split-line {
    border-bottom: 1px dotted #a6a9b6;
    padding: 2%;
    margin: 2% auto;
    width: 90%;
  }

  .edit-button {
    color: var(--comp-color);
    font-size: 1.2rem;
  }
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

/* Media query */
/* Width wider than mobile device */
@media (min-width: 601px) {
  /* Navbar */
  .navbar-feed-screen.new-navbar {
    display: none;
  }

  .feed-post-header .post-fromto {
    color: var(--primary-color);
  }

  .feed-post-header .post-fromto-info {
    margin: 0 auto;
  }

  .edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
  }

  .edit-button:focus,
  .edit-button:active {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
  }

  /* Card */

  .card-body {
    padding: 0;
  }

  .feeds-loading {
    display: flex;
    justify-content: center;
    margin-top: 35vh;
  }

  .more-feeds-loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    margin: 0 auto 5% auto;
    border-radius: 12px;
    box-shadow: rgb(30 61 99 / 50%) 0px 2px 10px 0px;
  }

  /* Card-header */
  .feed-post-header {
    display: flex;
    align-items: center;
    padding: 0.5%;
  }

  .feed-post-body.card-body,
  .feed-post-footer.card-footer {
    padding: 0;
  }

  p.post-fromto-info.my-1.text-center {
    font-size: 1.5rem;
    padding: 2%;
  }

  .post-fromto {
    font-weight: bold;
  }

  /* Card-body main-image */
  .feed-post-main-image {
    width: 100%;
  }

  /* Card-body message and doodle */
  div.message-doodle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  div.message-doodle div.post-message.text-center {
    width: 60%;
  }

  div.message-doodle div.post-sub-image {
    width: 40%;
    padding: 2%;
    padding-right: 5%;
  }

  div.message-doodle div.post-sub-image img {
    width: 100%;
  }

  div.post-sub-image .feed-post-sub-doodle {
    width: 100%;
  }

  div.post-message.text-center {
    word-wrap: break-word;
    padding: 2%;
  }

  div.post-message.text-center p {
    font-size: 1.2rem;
  }

  /* Card-footer */
  .feed-post-footer {
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 8vh;
  }

  .post-chatroom-btn {
    position: relative;
  }

  .post-chatroom-button {
    color: var(--primary-color);
  }

  .post-chatroom-btn i {
    font-size: 2rem;
    position: absolute;
    right: 20px;
    bottom: 0;
  }

  .feed-post-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .feed-post-footer .post-timestamp {
    width: 100%;
  }

  .feed-post-footer .post-chatroom-btn .post-chatroom-button:hover {
    color: var(--secondary-color);
  }

  /* Card-Footer on desktop */
  .feed-post-footer {
    display: flex;
    flex-direction: column;
  }

  .feed-post-footer .post-chatroom-btn {
    text-align: left;
    padding: 3%;
    position: relative;
  }

  .post-chatroom-button {
    color: var(--primary-color);
  }

  .post-chatroom-btn i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    bottom: 0;
  }

  .feed-post-footer .fas.fa-quote-left,
  .feed-post-footer .fas.fa-quote-right {
    font-size: 0.5rem;
  }

  .feed-post-footer .post-fromto {
    font-weight: bold;
  }

  .feed-post-footer small {
    display: block;
    color: #a6a9b6;
    text-align: left;
  }

  .feed-post-footer {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .feed-post-footer .post-timestamp {
    width: 50%;
    margin-left: 8%;
  }

  /* Load more button */
  .load-more-btn.load-more-feeds {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 0.5%;
    width: 124px;
    max-width: 300px;
    border-radius: 23px;
    outline: 0;
    border: 0;
    background-color: var(--primary-color);
    color: #fff;
  }

  .load-more-btn.load-more-feeds:active,
  .load-more-btn.load-more-feeds:focus {
    outline: 0;
    border: 0;
  }

  /* Split line */
  .split-line {
    border-bottom: 1px dotted #a6a9b6;
    padding: 2%;
    margin: 2% auto;
    width: 90%;
  }

  .edit-button {
    color: var(--comp-color);
    font-size: 1.2rem;
  }
}
